@font-face {
  font-family: "SpaceMono-Bold";
  src: url(../assets/fonts/SpaceMono-Bold);
}
@font-face {
  font-family: "SpaceMono-BoldItalic";
  src: url(../assets/fonts/SpaceMono-Bold);
}
@font-face {
  font-family: "SpaceMono-Italic";
  src: url(../assets/fonts/SpaceMono-Italic);
}
@font-face {
  font-family: "SpaceMono-Regular";
  src: url(../assets/fonts/SpaceMono-BoldItalic);
}
