// Flex- direction row
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

// Flex-Direction - Column
@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
