$primary-bg-color: #28233a;
$header-bg-color: #2f2c3b;
$secondary-bg-color: #c3a579;
$primary-text-color: #c3a579;
$secondary-text-color: #474a57;
$primary-btn-text-color: #ffffff;
$primary-btn-bg-color: #1b172b;
$primary-gap: 3.2rem;
$secondary-gap: 2.4rem;
