@use "fonts";
@use "variables";
@use "mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "SpaceMono-Regular";
  background-color: variables.$primary-bg-color;
  overflow-x: hidden;
}
header {
  width: 100%;
  background-color: variables.$header-bg-color;

  .wrapper {
    width: 100%;
    padding: 2.5rem 5.3rem;
    @include mixins.flex-space-between;
    gap: variables.$primary-gap;
    position: relative;
    .header-div {
      @include mixins.flex-center;
    }
    .toggle-div {
      @media (min-width: 768px) {
        display: none;
      }
      .x-icon {
        display: none;
      }
    }
    .nav-div {
      display: none;
      @media (min-width: 768px) {
        display: flex;
        nav ul {
          @media (min-width: 768px) {
            list-style: none;
            @include mixins.flex-center;
            gap: 0.8rem;
            a {
              font-size: 3.6rem;
              text-decoration: none;
              color: variables.$primary-text-color;
            }
          }
        }
      }
    }
    .toggle-menu {
      display: none;
    }
    .toggle-menu.show-on-mobile {
      width: 100%;
      height: calc(100vh + 200px);
      position: absolute;
      left: 0;
      top: 9rem;
      background-color: variables.$primary-bg-color;
      @include mixins.flex-column-center;
      padding: 2.5rem 2.5rem;
      .mobile-navigation-ul {
        list-style: none;
        @include mixins.flex-column-start;
        gap: 1.6rem;
        .mobile-navigation-ul li {
          @include mixins.flex-center;
        }
      }
      .mobile-a {
        color: variables.$primary-text-color;
        text-decoration: none;
        font-size: 2.4rem;
      }
      .mobile-navigation-ul li {
        @include mixins.flex-center;
        text-align: left;
      }
      @media (min-width: 768px) {
        display: none;
      }
      .buttons-toggle {
        @include mixins.flex-start;
        gap: 1.6rem;
        button {
          background-color: variables.$primary-btn-bg-color;
          color: variables.$primary-btn-text-color;
          padding: 1.2rem 2rem;
          border-radius: 2rem;
          font-family: "SpaceMono-Bold";
          font-size: 1.8rem;
          border: none;
          outline: none;
          box-shadow: variables.$btn-box-shadow;
          white-space: nowrap;
        }
      }
    }
  }
}
// Section 1 styles
.section1 {
  margin-top: 3rem;
  padding: 1.2rem;
  width: 100%;
  .section1-wrapper {
    gap: 1.6rem;
    width: 100%;
    padding: 2.4rem;
    @include mixins.flex-column-center;
    .buttons-top {
      display: none;
    }

    @media (min-width: 768px) {
      @include mixins.flex-space-around;
      flex-direction: row;
      .buttons-top {
        width: 100%;
        @include mixins.flex-space-between;
        button {
          background-color: variables.$primary-btn-bg-color;
          color: variables.$primary-btn-text-color;
          padding: 1.2rem 2rem;
          border-radius: 2rem;
          font-family: "SpaceMono-Bold";
          font-size: 1.8rem;
          letter-spacing: 0.2rem;
          border: none;
          outline: none;
          box-shadow: variables.$btn-box-shadow;
          white-space: nowrap;
        }
      }
    }

    .heading-div {
      @include mixins.flex-column-start;
      gap: 0.4rem;
      .heading {
        font-size: 1.8rem;
        color: variables.$primary-text-color;
        @media (min-width: 768px) {
          font-size: 4.8rem;
        }
      }
      .descr {
        font-size: 1.6rem;
        color: variables.$secondary-text-color;
        @media (min-width: 768px) {
          font-size: 3.6rem;
        }
      }
    }
    .image-socials {
      @include mixins.flex-column-center;
      gap: 1.6rem;
      .main-portrait {
        padding: 1.6rem;
        background-color: variables.$secondary-bg-color;
        border-radius: 12px;
        box-shadow: variables.$primary-box-shadow;
      }
      .social-links {
        @include mixins.flex-center;
        gap: 0.8rem;
        a {
          padding: 0.8rem;
          background-color: variables.$secondary-bg-color;
          border-radius: 1.2rem;
          @include mixins.flex-center;
          .social-img {
            height: 2.25rem;
          }
        }
      }
    }
    .buttons {
      width: 100%;
      @include mixins.flex-center;
      gap: 1.6rem;
      button {
        background-color: variables.$primary-btn-bg-color;
        color: variables.$primary-btn-text-color;
        padding: 1.2rem 2rem;
        border-radius: 2rem;
        font-family: "SpaceMono-Bold";
        font-size: 1.8rem;
        border: none;
        outline: none;
        box-shadow: variables.$btn-box-shadow;
        white-space: nowrap;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}
